src/main/java/com/apus/st/STWS1.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://st.apus.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://st.apus.com/" name="STWS">
<types>
<xsd:schema>
<xsd:import namespace="http://st.apus.com/" schemaLocation="http://api.upay.uz/STAPI/STWS?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="isRegistered">
<part name="parameters" element="tns:isRegistered"></part>
</message>
<message name="isRegisteredResponse">
<part name="parameters" element="tns:isRegisteredResponse"></part>
</message>
<message name="authentication">
<part name="parameters" element="tns:authentication"></part>
</message>
<message name="authenticationResponse">
<part name="parameters" element="tns:authenticationResponse"></part>
</message>
<message name="getRegions">
<part name="parameters" element="tns:getRegions"></part>
</message>
<message name="getRegionsResponse">
<part name="parameters" element="tns:getRegionsResponse"></part>
</message>
<message name="prepareAuthentication">
<part name="parameters" element="tns:prepareAuthentication"></part>
</message>
<message name="prepareAuthenticationResponse">
<part name="parameters" element="tns:prepareAuthenticationResponse"></part>
</message>
<message name="getUserTransactionsList">
<part name="parameters" element="tns:getUserTransactionsList"></part>
</message>
<message name="getUserTransactionsListResponse">
<part name="parameters" element="tns:getUserTransactionsListResponse"></part>
</message>
<message name="setUserFavoriteAccount">
<part name="parameters" element="tns:setUserFavoriteAccount"></part>
</message>
<message name="setUserFavoriteAccountResponse">
<part name="parameters" element="tns:setUserFavoriteAccountResponse"></part>
</message>
<message name="balance">
<part name="parameters" element="tns:balance"></part>
</message>
<message name="balanceResponse">
<part name="parameters" element="tns:balanceResponse"></part>
</message>
<message name="getTitlesTagAndNameForServices">
<part name="parameters" element="tns:getTitlesTagAndNameForServices"></part>
</message>
<message name="getTitlesTagAndNameForServicesResponse">
<part name="parameters" element="tns:getTitlesTagAndNameForServicesResponse"></part>
</message>
<message name="test">
<part name="parameters" element="tns:test"></part>
</message>
<message name="testResponse">
<part name="parameters" element="tns:testResponse"></part>
</message>
<message name="getServiceList">
<part name="parameters" element="tns:getServiceList"></part>
</message>
<message name="getServiceListResponse">
<part name="parameters" element="tns:getServiceListResponse"></part>
</message>
<message name="getRegionsList">
<part name="parameters" element="tns:getRegionsList"></part>
</message>
<message name="getRegionsListResponse">
<part name="parameters" element="tns:getRegionsListResponse"></part>
</message>
<message name="getTerritoriesList">
<part name="parameters" element="tns:getTerritoriesList"></part>
</message>
<message name="getTerritoriesListResponse">
<part name="parameters" element="tns:getTerritoriesListResponse"></part>
</message>
<message name="checkTransactionOneTime">
<part name="parameters" element="tns:checkTransactionOneTime"></part>
</message>
<message name="checkTransactionOneTimeResponse">
<part name="parameters" element="tns:checkTransactionOneTimeResponse"></part>
</message>
<message name="getKvitansia">
<part name="parameters" element="tns:getKvitansia"></part>
</message>
<message name="getKvitansiaResponse">
<part name="parameters" element="tns:getKvitansiaResponse"></part>
</message>
<message name="getUserFavoriteList">
<part name="parameters" element="tns:getUserFavoriteList"></part>
</message>
<message name="getUserFavoriteListResponse">
<part name="parameters" element="tns:getUserFavoriteListResponse"></part>
</message>
<message name="cardP2PInfo">
<part name="parameters" element="tns:cardP2PInfo"></part>
</message>
<message name="cardP2PInfoResponse">
<part name="parameters" element="tns:cardP2PInfoResponse"></part>
</message>
<message name="cardP2PCreate">
<part name="parameters" element="tns:cardP2PCreate"></part>
</message>
<message name="cardP2PCreateResponse">
<part name="parameters" element="tns:cardP2PCreateResponse"></part>
</message>
<message name="cardP2PPay">
<part name="parameters" element="tns:cardP2PPay"></part>
</message>
<message name="cardP2PPayResponse">
<part name="parameters" element="tns:cardP2PPayResponse"></part>
</message>
<message name="getExchangeRates">
<part name="parameters" element="tns:getExchangeRates"></part>
</message>
<message name="getExchangeRatesResponse">
<part name="parameters" element="tns:getExchangeRatesResponse"></part>
</message>
<message name="infoP2PBanks">
<part name="parameters" element="tns:infoP2PBanks"></part>
</message>
<message name="infoP2PBanksResponse">
<part name="parameters" element="tns:infoP2PBanksResponse"></part>
</message>
<message name="findServiceAccount">
<part name="parameters" element="tns:findServiceAccount"></part>
</message>
<message name="findServiceAccountResponse">
<part name="parameters" element="tns:findServiceAccountResponse"></part>
</message>
<message name="bankCheckAccount">
<part name="parameters" element="tns:bankCheckAccount"></part>
</message>
<message name="bankCheckAccountResponse">
<part name="parameters" element="tns:bankCheckAccountResponse"></part>
</message>
<message name="bankPayment">
<part name="parameters" element="tns:bankPayment"></part>
</message>
<message name="bankPaymentResponse">
<part name="parameters" element="tns:bankPaymentResponse"></part>
</message>
<message name="bankCheckTransaction">
<part name="parameters" element="tns:bankCheckTransaction"></part>
</message>
<message name="bankCheckTransactionResponse">
<part name="parameters" element="tns:bankCheckTransactionResponse"></part>
</message>
<message name="bankPaymentHistory">
<part name="parameters" element="tns:bankPaymentHistory"></part>
</message>
<message name="bankPaymentHistoryResponse">
<part name="parameters" element="tns:bankPaymentHistoryResponse"></part>
</message>
<message name="paymentOneTime">
<part name="parameters" element="tns:paymentOneTime"></part>
</message>
<message name="paymentOneTimeResponse">
<part name="parameters" element="tns:paymentOneTimeResponse"></part>
</message>
<message name="paymentOneTimeVisa">
<part name="parameters" element="tns:paymentOneTimeVisa"></part>
</message>
<message name="paymentOneTimeVisaResponse">
<part name="parameters" element="tns:paymentOneTimeVisaResponse"></part>
</message>
<message name="checkTransactionOneTimeVisa">
<part name="parameters" element="tns:checkTransactionOneTimeVisa"></part>
</message>
<message name="checkTransactionOneTimeVisaResponse">
<part name="parameters" element="tns:checkTransactionOneTimeVisaResponse"></part>
</message>
<message name="cardInfo">
<part name="parameters" element="tns:cardInfo"></part>
</message>
<message name="cardInfoResponse">
<part name="parameters" element="tns:cardInfoResponse"></part>
</message>
<message name="getRegisteredPersonalAccounts">
<part name="parameters" element="tns:getRegisteredPersonalAccounts"></part>
</message>
<message name="getRegisteredPersonalAccountsResponse">
<part name="parameters" element="tns:getRegisteredPersonalAccountsResponse"></part>
</message>
<message name="checkCardNumber">
<part name="parameters" element="tns:checkCardNumber"></part>
</message>
<message name="checkCardNumberResponse">
<part name="parameters" element="tns:checkCardNumberResponse"></part>
</message>
<message name="checkTransaction">
<part name="parameters" element="tns:checkTransaction"></part>
</message>
<message name="checkTransactionResponse">
<part name="parameters" element="tns:checkTransactionResponse"></part>
</message>
<message name="confirmRegistration">
<part name="parameters" element="tns:confirmRegistration"></part>
</message>
<message name="confirmRegistrationResponse">
<part name="parameters" element="tns:confirmRegistrationResponse"></part>
</message>
<message name="registerNewCard">
<part name="parameters" element="tns:registerNewCard"></part>
</message>
<message name="registerNewCardResponse">
<part name="parameters" element="tns:registerNewCardResponse"></part>
</message>
<message name="changeUserPassword">
<part name="parameters" element="tns:changeUserPassword"></part>
</message>
<message name="changeUserPasswordResponse">
<part name="parameters" element="tns:changeUserPasswordResponse"></part>
</message>
<message name="reRegister">
<part name="parameters" element="tns:reRegister"></part>
</message>
<message name="reRegisterResponse">
<part name="parameters" element="tns:reRegisterResponse"></part>
</message>
<message name="getUserCardsList">
<part name="parameters" element="tns:getUserCardsList"></part>
</message>
<message name="getUserCardsListResponse">
<part name="parameters" element="tns:getUserCardsListResponse"></part>
</message>
<message name="setUserCards">
<part name="parameters" element="tns:setUserCards"></part>
</message>
<message name="setUserCardsResponse">
<part name="parameters" element="tns:setUserCardsResponse"></part>
</message>
<message name="removeUser">
<part name="parameters" element="tns:removeUser"></part>
</message>
<message name="removeUserResponse">
<part name="parameters" element="tns:removeUserResponse"></part>
</message>
<message name="getServiceCategoryList">
<part name="parameters" element="tns:getServiceCategoryList"></part>
</message>
<message name="getServiceCategoryListResponse">
<part name="parameters" element="tns:getServiceCategoryListResponse"></part>
</message>
<message name="converterNotify">
<part name="parameters" element="tns:converterNotify"></part>
</message>
<message name="converterNotifyResponse">
<part name="parameters" element="tns:converterNotifyResponse"></part>
</message>
<message name="getP2PFavoriteList">
<part name="parameters" element="tns:getP2PFavoriteList"></part>
</message>
<message name="getP2PFavoriteListResponse">
<part name="parameters" element="tns:getP2PFavoriteListResponse"></part>
</message>
<message name="setP2PFavorite">
<part name="parameters" element="tns:setP2PFavorite"></part>
</message>
<message name="setP2PFavoriteResponse">
<part name="parameters" element="tns:setP2PFavoriteResponse"></part>
</message>
<message name="testCardP2PInfo">
<part name="parameters" element="tns:testCardP2PInfo"></part>
</message>
<message name="testCardP2PInfoResponse">
<part name="parameters" element="tns:testCardP2PInfoResponse"></part>
</message>
<message name="testCardP2PCreate">
<part name="parameters" element="tns:testCardP2PCreate"></part>
</message>
<message name="testCardP2PCreateResponse">
<part name="parameters" element="tns:testCardP2PCreateResponse"></part>
</message>
<message name="testCardP2PPay">
<part name="parameters" element="tns:testCardP2PPay"></part>
</message>
<message name="testCardP2PPayResponse">
<part name="parameters" element="tns:testCardP2PPayResponse"></part>
</message>
<message name="testCardP2PPayment">
<part name="parameters" element="tns:testCardP2PPayment"></part>
</message>
<message name="testCardP2PPaymentResponse">
<part name="parameters" element="tns:testCardP2PPaymentResponse"></part>
</message>
<message name="testCardP2PPaymentConfirm">
<part name="parameters" element="tns:testCardP2PPaymentConfirm"></part>
</message>
<message name="testCardP2PPaymentConfirmResponse">
<part name="parameters" element="tns:testCardP2PPaymentConfirmResponse"></part>
</message>
<message name="testCardP2PPayOneTime">
<part name="parameters" element="tns:testCardP2PPayOneTime"></part>
</message>
<message name="testCardP2PPayOneTimeResponse">
<part name="parameters" element="tns:testCardP2PPayOneTimeResponse"></part>
</message>
<message name="cardP2PPayment">
<part name="parameters" element="tns:cardP2PPayment"></part>
</message>
<message name="cardP2PPaymentResponse">
<part name="parameters" element="tns:cardP2PPaymentResponse"></part>
</message>
<message name="cardP2PPaymentConfirm">
<part name="parameters" element="tns:cardP2PPaymentConfirm"></part>
</message>
<message name="cardP2PPaymentConfirmResponse">
<part name="parameters" element="tns:cardP2PPaymentConfirmResponse"></part>
</message>
<message name="getTradePointServiceList">
<part name="parameters" element="tns:getTradePointServiceList"></part>
</message>
<message name="getTradePointServiceListResponse">
<part name="parameters" element="tns:getTradePointServiceListResponse"></part>
</message>
<message name="setTradePointCreateOrder">
<part name="parameters" element="tns:setTradePointCreateOrder"></part>
</message>
<message name="setTradePointCreateOrderResponse">
<part name="parameters" element="tns:setTradePointCreateOrderResponse"></part>
</message>
<message name="setQRCodeUIDCreate">
<part name="parameters" element="tns:setQRCodeUIDCreate"></part>
</message>
<message name="setQRCodeUIDCreateResponse">
<part name="parameters" element="tns:setQRCodeUIDCreateResponse"></part>
</message>
<message name="getQRCodeDataInfo">
<part name="parameters" element="tns:getQRCodeDataInfo"></part>
</message>
<message name="getQRCodeDataInfoResponse">
<part name="parameters" element="tns:getQRCodeDataInfoResponse"></part>
</message>
<message name="testBankCheckAccount">
<part name="parameters" element="tns:testBankCheckAccount"></part>
</message>
<message name="testBankCheckAccountResponse">
<part name="parameters" element="tns:testBankCheckAccountResponse"></part>
</message>
<message name="testBankPayment">
<part name="parameters" element="tns:testBankPayment"></part>
</message>
<message name="testBankPaymentResponse">
<part name="parameters" element="tns:testBankPaymentResponse"></part>
</message>
<message name="testPaymentOneTime">
<part name="parameters" element="tns:testPaymentOneTime"></part>
</message>
<message name="testPaymentOneTimeResponse">
<part name="parameters" element="tns:testPaymentOneTimeResponse"></part>
</message>
<message name="actionUserCardBonus">
<part name="parameters" element="tns:actionUserCardBonus"></part>
</message>
<message name="actionUserCardBonusResponse">
<part name="parameters" element="tns:actionUserCardBonusResponse"></part>
</message>
<message name="userCardBonusHistory">
<part name="parameters" element="tns:userCardBonusHistory"></part>
</message>
<message name="userCardBonusHistoryResponse">
<part name="parameters" element="tns:userCardBonusHistoryResponse"></part>
</message>
<message name="registerCars">
<part name="parameters" element="tns:registerCars"></part>
</message>
<message name="registerCarsResponse">
<part name="parameters" element="tns:registerCarsResponse"></part>
</message>
<message name="bankCheckBalance">
<part name="parameters" element="tns:bankCheckBalance"></part>
</message>
<message name="bankCheckBalanceResponse">
<part name="parameters" element="tns:bankCheckBalanceResponse"></part>
</message>
<message name="getTradePointServiceByUssdCode">
<part name="parameters" element="tns:getTradePointServiceByUssdCode"></part>
</message>
<message name="getTradePointServiceByUssdCodeResponse">
<part name="parameters" element="tns:getTradePointServiceByUssdCodeResponse"></part>
</message>
<message name="getCountryList">
<part name="parameters" element="tns:getCountryList"></part>
</message>
<message name="getCountryListResponse">
<part name="parameters" element="tns:getCountryListResponse"></part>
</message>
<message name="getCrypto">
<part name="parameters" element="tns:getCrypto"></part>
</message>
<message name="getCryptoResponse">
<part name="parameters" element="tns:getCryptoResponse"></part>
</message>
<message name="cancelPayment">
<part name="parameters" element="tns:cancelPayment"></part>
</message>
<message name="cancelPaymentResponse">
<part name="parameters" element="tns:cancelPaymentResponse"></part>
</message>
<message name="setCashback">
<part name="parameters" element="tns:setCashback"></part>
</message>
<message name="setCashbackResponse">
<part name="parameters" element="tns:setCashbackResponse"></part>
</message>
<message name="cardP2PPayOneTime">
<part name="parameters" element="tns:cardP2PPayOneTime"></part>
</message>
<message name="cardP2PPayOneTimeResponse">
<part name="parameters" element="tns:cardP2PPayOneTimeResponse"></part>
</message>
<message name="setApplicationToken">
<part name="parameters" element="tns:setApplicationToken"></part>
</message>
<message name="setApplicationTokenResponse">
<part name="parameters" element="tns:setApplicationTokenResponse"></part>
</message>
<message name="partnerRegisterCard">
<part name="parameters" element="tns:partnerRegisterCard"></part>
</message>
<message name="partnerRegisterCardResponse">
<part name="parameters" element="tns:partnerRegisterCardResponse"></part>
</message>
<message name="partnerConfirmCard">
<part name="parameters" element="tns:partnerConfirmCard"></part>
</message>
<message name="partnerConfirmCardResponse">
<part name="parameters" element="tns:partnerConfirmCardResponse"></part>
</message>
<message name="partnerCardResendSms">
<part name="parameters" element="tns:partnerCardResendSms"></part>
</message>
<message name="partnerCardResendSmsResponse">
<part name="parameters" element="tns:partnerCardResendSmsResponse"></part>
</message>
<message name="partnerPayment">
<part name="parameters" element="tns:partnerPayment"></part>
</message>
<message name="partnerPaymentResponse">
<part name="parameters" element="tns:partnerPaymentResponse"></part>
</message>
<message name="partnerConfirmPayment">
<part name="parameters" element="tns:partnerConfirmPayment"></part>
</message>
<message name="partnerConfirmPaymentResponse">
<part name="parameters" element="tns:partnerConfirmPaymentResponse"></part>
</message>
<message name="partnerCheckTransaction">
<part name="parameters" element="tns:partnerCheckTransaction"></part>
</message>
<message name="partnerCheckTransactionResponse">
<part name="parameters" element="tns:partnerCheckTransactionResponse"></part>
</message>
<message name="partnerCancelTransaction">
<part name="parameters" element="tns:partnerCancelTransaction"></part>
</message>
<message name="partnerCancelTransactionResponse">
<part name="parameters" element="tns:partnerCancelTransactionResponse"></part>
</message>
<message name="partnerCardList">
<part name="parameters" element="tns:partnerCardList"></part>
</message>
<message name="partnerCardListResponse">
<part name="parameters" element="tns:partnerCardListResponse"></part>
</message>
<message name="partnerPreCardInfo">
<part name="parameters" element="tns:partnerPreCardInfo"></part>
</message>
<message name="partnerPreCardInfoResponse">
<part name="parameters" element="tns:partnerPreCardInfoResponse"></part>
</message>
<message name="partnerConfirmCardInfo">
<part name="parameters" element="tns:partnerConfirmCardInfo"></part>
</message>
<message name="partnerConfirmCardInfoResponse">
<part name="parameters" element="tns:partnerConfirmCardInfoResponse"></part>
</message>
<message name="partnerHoldCreate">
<part name="parameters" element="tns:partnerHoldCreate"></part>
</message>
<message name="partnerHoldCreateResponse">
<part name="parameters" element="tns:partnerHoldCreateResponse"></part>
</message>
<message name="partnerHoldCreateConfirm">
<part name="parameters" element="tns:partnerHoldCreateConfirm"></part>
</message>
<message name="partnerHoldCreateConfirmResponse">
<part name="parameters" element="tns:partnerHoldCreateConfirmResponse"></part>
</message>
<message name="partnerHoldPayment">
<part name="parameters" element="tns:partnerHoldPayment"></part>
</message>
<message name="partnerHoldPaymentResponse">
<part name="parameters" element="tns:partnerHoldPaymentResponse"></part>
</message>
<message name="partnerHoldCancel">
<part name="parameters" element="tns:partnerHoldCancel"></part>
</message>
<message name="partnerHoldCancelResponse">
<part name="parameters" element="tns:partnerHoldCancelResponse"></part>
</message>
<message name="userUcoins">
<part name="parameters" element="tns:userUcoins"></part>
</message>
<message name="userUcoinsResponse">
<part name="parameters" element="tns:userUcoinsResponse"></part>
</message>
<message name="ucoinsInformations">
<part name="parameters" element="tns:ucoinsInformations"></part>
</message>
<message name="ucoinsInformationsResponse">
<part name="parameters" element="tns:ucoinsInformationsResponse"></part>
</message>
<message name="userUcoinsHistory">
<part name="parameters" element="tns:userUcoinsHistory"></part>
</message>
<message name="userUcoinsHistoryResponse">
<part name="parameters" element="tns:userUcoinsHistoryResponse"></part>
</message>
<message name="userUcoinsAchievementAction">
<part name="parameters" element="tns:userUcoinsAchievementAction"></part>
</message>
<message name="userUcoinsAchievementActionResponse">
<part name="parameters" element="tns:userUcoinsAchievementActionResponse"></part>
</message>
<message name="userUcoinsLevels">
<part name="parameters" element="tns:userUcoinsLevels"></part>
</message>
<message name="userUcoinsLevelsResponse">
<part name="parameters" element="tns:userUcoinsLevelsResponse"></part>
</message>
<message name="upayHelps">
<part name="parameters" element="tns:upayHelps"></part>
</message>
<message name="upayHelpsResponse">
<part name="parameters" element="tns:upayHelpsResponse"></part>
</message>
<message name="getServiceByAccount">
<part name="parameters" element="tns:getServiceByAccount"></part>
</message>
<message name="getServiceByAccountResponse">
<part name="parameters" element="tns:getServiceByAccountResponse"></part>
</message>
<message name="registerUserPrepare">
<part name="parameters" element="tns:registerUserPrepare"></part>
</message>
<message name="registerUserPrepareResponse">
<part name="parameters" element="tns:registerUserPrepareResponse"></part>
</message>
<message name="registerUserConfirm">
<part name="parameters" element="tns:registerUserConfirm"></part>
</message>
<message name="registerUserConfirmResponse">
<part name="parameters" element="tns:registerUserConfirmResponse"></part>
</message>
<message name="getUserInformation">
<part name="parameters" element="tns:getUserInformation"></part>
</message>
<message name="getUserInformationResponse">
<part name="parameters" element="tns:getUserInformationResponse"></part>
</message>
<message name="setUserInformation">
<part name="parameters" element="tns:setUserInformation"></part>
</message>
<message name="setUserInformationResponse">
<part name="parameters" element="tns:setUserInformationResponse"></part>
</message>
<message name="getUserSession">
<part name="parameters" element="tns:getUserSession"></part>
</message>
<message name="getUserSessionResponse">
<part name="parameters" element="tns:getUserSessionResponse"></part>
</message>
<message name="setUserSession">
<part name="parameters" element="tns:setUserSession"></part>
</message>
<message name="setUserSessionResponse">
<part name="parameters" element="tns:setUserSessionResponse"></part>
</message>
<message name="getThemeCovers">
<part name="parameters" element="tns:getThemeCovers"></part>
</message>
<message name="getThemeCoversResponse">
<part name="parameters" element="tns:getThemeCoversResponse"></part>
</message>
<message name="getServiceSearchTags">
<part name="parameters" element="tns:getServiceSearchTags"></part>
</message>
<message name="getServiceSearchTagsResponse">
<part name="parameters" element="tns:getServiceSearchTagsResponse"></part>
</message>
<message name="getKvitansiaParams">
<part name="parameters" element="tns:getKvitansiaParams"></part>
</message>
<message name="getKvitansiaParamsResponse">
<part name="parameters" element="tns:getKvitansiaParamsResponse"></part>
</message>
<message name="testCheckCardNumber">
<part name="parameters" element="tns:testCheckCardNumber"></part>
</message>
<message name="testCheckCardNumberResponse">
<part name="parameters" element="tns:testCheckCardNumberResponse"></part>
</message>
<message name="testConfirmRegistration">
<part name="parameters" element="tns:testConfirmRegistration"></part>
</message>
<message name="testConfirmRegistrationResponse">
<part name="parameters" element="tns:testConfirmRegistrationResponse"></part>
</message>
<message name="testRegisterNewCard">
<part name="parameters" element="tns:testRegisterNewCard"></part>
</message>
<message name="testRegisterNewCardResponse">
<part name="parameters" element="tns:testRegisterNewCardResponse"></part>
</message>
<message name="testReRegister">
<part name="parameters" element="tns:testReRegister"></part>
</message>
<message name="testReRegisterResponse">
<part name="parameters" element="tns:testReRegisterResponse"></part>
</message>
<message name="testPrepayment">
<part name="parameters" element="tns:testPrepayment"></part>
</message>
<message name="testPrepaymentResponse">
<part name="parameters" element="tns:testPrepaymentResponse"></part>
</message>
<message name="paymentService">
<part name="parameters" element="tns:paymentService"></part>
</message>
<message name="paymentServiceResponse">
<part name="parameters" element="tns:paymentServiceResponse"></part>
</message>
<message name="paymentServiceConfirm">
<part name="parameters" element="tns:paymentServiceConfirm"></part>
</message>
<message name="paymentServiceConfirmResponse">
<part name="parameters" element="tns:paymentServiceConfirmResponse"></part>
</message>
<message name="cardRegistration">
<part name="parameters" element="tns:cardRegistration"></part>
</message>
<message name="cardRegistrationResponse">
<part name="parameters" element="tns:cardRegistrationResponse"></part>
</message>
<message name="cardRegistrationConfirm">
<part name="parameters" element="tns:cardRegistrationConfirm"></part>
</message>
<message name="cardRegistrationConfirmResponse">
<part name="parameters" element="tns:cardRegistrationConfirmResponse"></part>
</message>
<message name="cardRegistrationActivate">
<part name="parameters" element="tns:cardRegistrationActivate"></part>
</message>
<message name="cardRegistrationActivateResponse">
<part name="parameters" element="tns:cardRegistrationActivateResponse"></part>
</message>
<message name="forgotPassword">
<part name="parameters" element="tns:forgotPassword"></part>
</message>
<message name="forgotPasswordResponse">
<part name="parameters" element="tns:forgotPasswordResponse"></part>
</message>
<message name="forgotPasswordConfirm">
<part name="parameters" element="tns:forgotPasswordConfirm"></part>
</message>
<message name="forgotPasswordConfirmResponse">
<part name="parameters" element="tns:forgotPasswordConfirmResponse"></part>
</message>
<message name="forgotPasswordSetPass">
<part name="parameters" element="tns:forgotPasswordSetPass"></part>
</message>
<message name="forgotPasswordSetPassResponse">
<part name="parameters" element="tns:forgotPasswordSetPassResponse"></part>
</message>
<message name="getUserCardInfo">
<part name="parameters" element="tns:getUserCardInfo"></part>
</message>
<message name="getUserCardInfoResponse">
<part name="parameters" element="tns:getUserCardInfoResponse"></part>
</message>
<message name="findTaxAccount">
<part name="parameters" element="tns:findTaxAccount"></part>
</message>
<message name="findTaxAccountResponse">
<part name="parameters" element="tns:findTaxAccountResponse"></part>
</message>
<message name="confirmAuthentication">
<part name="parameters" element="tns:confirmAuthentication"></part>
</message>
<message name="confirmAuthenticationResponse">
<part name="parameters" element="tns:confirmAuthenticationResponse"></part>
</message>
<message name="findPersonalAccount">
<part name="parameters" element="tns:findPersonalAccount"></part>
</message>
<message name="findPersonalAccountResponse">
<part name="parameters" element="tns:findPersonalAccountResponse"></part>
</message>
<message name="preparePayment">
<part name="parameters" element="tns:preparePayment"></part>
</message>
<message name="preparePaymentResponse">
<part name="parameters" element="tns:preparePaymentResponse"></part>
</message>
<message name="prepayment">
<part name="parameters" element="tns:prepayment"></part>
</message>
<message name="prepaymentResponse">
<part name="parameters" element="tns:prepaymentResponse"></part>
</message>
<message name="payment">
<part name="parameters" element="tns:payment"></part>
</message>
<message name="paymentResponse">
<part name="parameters" element="tns:paymentResponse"></part>
</message>
<message name="confirmPayment">
<part name="parameters" element="tns:confirmPayment"></part>
</message>
<message name="confirmPaymentResponse">
<part name="parameters" element="tns:confirmPaymentResponse"></part>
</message>
<message name="registerServiceAccount">
<part name="parameters" element="tns:registerServiceAccount"></part>
</message>
<message name="registerServiceAccountResponse">
<part name="parameters" element="tns:registerServiceAccountResponse"></part>
</message>
<portType name="STWS">
<operation name="isRegistered">
<input wsam:Action="http://st.apus.com/STWS/isRegisteredRequest" message="tns:isRegistered"></input>
<output wsam:Action="http://st.apus.com/STWS/isRegisteredResponse" message="tns:isRegisteredResponse"></output>
</operation>
<operation name="authentication">
<input wsam:Action="http://st.apus.com/STWS/authenticationRequest" message="tns:authentication"></input>
<output wsam:Action="http://st.apus.com/STWS/authenticationResponse" message="tns:authenticationResponse"></output>
</operation>
<operation name="getRegions">
<input wsam:Action="http://st.apus.com/STWS/getRegionsRequest" message="tns:getRegions"></input>
<output wsam:Action="http://st.apus.com/STWS/getRegionsResponse" message="tns:getRegionsResponse"></output>
</operation>
<operation name="prepareAuthentication">
<input wsam:Action="http://st.apus.com/STWS/prepareAuthenticationRequest" message="tns:prepareAuthentication"></input>
<output wsam:Action="http://st.apus.com/STWS/prepareAuthenticationResponse" message="tns:prepareAuthenticationResponse"></output>
</operation>
<operation name="getUserTransactionsList">
<input wsam:Action="http://st.apus.com/STWS/getUserTransactionsListRequest" message="tns:getUserTransactionsList"></input>
<output wsam:Action="http://st.apus.com/STWS/getUserTransactionsListResponse" message="tns:getUserTransactionsListResponse"></output>
</operation>
<operation name="setUserFavoriteAccount">
<input wsam:Action="http://st.apus.com/STWS/setUserFavoriteAccountRequest" message="tns:setUserFavoriteAccount"></input>
<output wsam:Action="http://st.apus.com/STWS/setUserFavoriteAccountResponse" message="tns:setUserFavoriteAccountResponse"></output>
</operation>
<operation name="balance">
<input wsam:Action="http://st.apus.com/STWS/balanceRequest" message="tns:balance"></input>
<output wsam:Action="http://st.apus.com/STWS/balanceResponse" message="tns:balanceResponse"></output>
</operation>
<operation name="getTitlesTagAndNameForServices">
<input wsam:Action="http://st.apus.com/STWS/getTitlesTagAndNameForServicesRequest" message="tns:getTitlesTagAndNameForServices"></input>
<output wsam:Action="http://st.apus.com/STWS/getTitlesTagAndNameForServicesResponse" message="tns:getTitlesTagAndNameForServicesResponse"></output>
</operation>
<operation name="test">
<input wsam:Action="http://st.apus.com/STWS/testRequest" message="tns:test"></input>
<output wsam:Action="http://st.apus.com/STWS/testResponse" message="tns:testResponse"></output>
</operation>
<operation name="getServiceList">
<input wsam:Action="http://st.apus.com/STWS/getServiceListRequest" message="tns:getServiceList"></input>
<output wsam:Action="http://st.apus.com/STWS/getServiceListResponse" message="tns:getServiceListResponse"></output>
</operation>
<operation name="getRegionsList">
<input wsam:Action="http://st.apus.com/STWS/getRegionsListRequest" message="tns:getRegionsList"></input>
<output wsam:Action="http://st.apus.com/STWS/getRegionsListResponse" message="tns:getRegionsListResponse"></output>
</operation>
<operation name="getTerritoriesList">
<input wsam:Action="http://st.apus.com/STWS/getTerritoriesListRequest" message="tns:getTerritoriesList"></input>
<output wsam:Action="http://st.apus.com/STWS/getTerritoriesListResponse" message="tns:getTerritoriesListResponse"></output>
</operation>
<operation name="checkTransactionOneTime">
<input wsam:Action="http://st.apus.com/STWS/checkTransactionOneTimeRequest" message="tns:checkTransactionOneTime"></input>
<output wsam:Action="http://st.apus.com/STWS/checkTransactionOneTimeResponse" message="tns:checkTransactionOneTimeResponse"></output>
</operation>
<operation name="getKvitansia">
<input wsam:Action="http://st.apus.com/STWS/getKvitansiaRequest" message="tns:getKvitansia"></input>
<output wsam:Action="http://st.apus.com/STWS/getKvitansiaResponse" message="tns:getKvitansiaResponse"></output>
</operation>
<operation name="getUserFavoriteList">
<input wsam:Action="http://st.apus.com/STWS/getUserFavoriteListRequest" message="tns:getUserFavoriteList"></input>
<output wsam:Action="http://st.apus.com/STWS/getUserFavoriteListResponse" message="tns:getUserFavoriteListResponse"></output>
</operation>
<operation name="cardP2PInfo">
<input wsam:Action="http://st.apus.com/STWS/cardP2PInfoRequest" message="tns:cardP2PInfo"></input>
<output wsam:Action="http://st.apus.com/STWS/cardP2PInfoResponse" message="tns:cardP2PInfoResponse"></output>
</operation>
<operation name="cardP2PCreate">
<input wsam:Action="http://st.apus.com/STWS/cardP2PCreateRequest" message="tns:cardP2PCreate"></input>
<output wsam:Action="http://st.apus.com/STWS/cardP2PCreateResponse" message="tns:cardP2PCreateResponse"></output>
</operation>
<operation name="cardP2PPay">
<input wsam:Action="http://st.apus.com/STWS/cardP2PPayRequest" message="tns:cardP2PPay"></input>
<output wsam:Action="http://st.apus.com/STWS/cardP2PPayResponse" message="tns:cardP2PPayResponse"></output>
</operation>
<operation name="getExchangeRates">
<input wsam:Action="http://st.apus.com/STWS/getExchangeRatesRequest" message="tns:getExchangeRates"></input>
<output wsam:Action="http://st.apus.com/STWS/getExchangeRatesResponse" message="tns:getExchangeRatesResponse"></output>
</operation>
<operation name="infoP2PBanks">
<input wsam:Action="http://st.apus.com/STWS/infoP2PBanksRequest" message="tns:infoP2PBanks"></input>
<output wsam:Action="http://st.apus.com/STWS/infoP2PBanksResponse" message="tns:infoP2PBanksResponse"></output>
</operation>
<operation name="findServiceAccount">
<input wsam:Action="http://st.apus.com/STWS/findServiceAccountRequest" message="tns:findServiceAccount"></input>
<output wsam:Action="http://st.apus.com/STWS/findServiceAccountResponse" message="tns:findServiceAccountResponse"></output>
</operation>
<operation name="bankCheckAccount">
<input wsam:Action="http://st.apus.com/STWS/bankCheckAccountRequest" message="tns:bankCheckAccount"></input>
<output wsam:Action="http://st.apus.com/STWS/bankCheckAccountResponse" message="tns:bankCheckAccountResponse"></output>
</operation>
<operation name="bankPayment">
<input wsam:Action="http://st.apus.com/STWS/bankPaymentRequest" message="tns:bankPayment"></input>
<output wsam:Action="http://st.apus.com/STWS/bankPaymentResponse" message="tns:bankPaymentResponse"></output>
</operation>
<operation name="bankCheckTransaction">
<input wsam:Action="http://st.apus.com/STWS/bankCheckTransactionRequest" message="tns:bankCheckTransaction"></input>
<output wsam:Action="http://st.apus.com/STWS/bankCheckTransactionResponse" message="tns:bankCheckTransactionResponse"></output>
</operation>
<operation name="bankPaymentHistory">
<input wsam:Action="http://st.apus.com/STWS/bankPaymentHistoryRequest" message="tns:bankPaymentHistory"></input>
<output wsam:Action="http://st.apus.com/STWS/bankPaymentHistoryResponse" message="tns:bankPaymentHistoryResponse"></output>
</operation>
<operation name="paymentOneTime">
<input wsam:Action="http://st.apus.com/STWS/paymentOneTimeRequest" message="tns:paymentOneTime"></input>
<output wsam:Action="http://st.apus.com/STWS/paymentOneTimeResponse" message="tns:paymentOneTimeResponse"></output>
</operation>
<operation name="paymentOneTimeVisa">
<input wsam:Action="http://st.apus.com/STWS/paymentOneTimeVisaRequest" message="tns:paymentOneTimeVisa"></input>
<output wsam:Action="http://st.apus.com/STWS/paymentOneTimeVisaResponse" message="tns:paymentOneTimeVisaResponse"></output>
</operation>
<operation name="checkTransactionOneTimeVisa">
<input wsam:Action="http://st.apus.com/STWS/checkTransactionOneTimeVisaRequest" message="tns:checkTransactionOneTimeVisa"></input>
<output wsam:Action="http://st.apus.com/STWS/checkTransactionOneTimeVisaResponse" message="tns:checkTransactionOneTimeVisaResponse"></output>
</operation>
<operation name="cardInfo">
<input wsam:Action="http://st.apus.com/STWS/cardInfoRequest" message="tns:cardInfo"></input>
<output wsam:Action="http://st.apus.com/STWS/cardInfoResponse" message="tns:cardInfoResponse"></output>
</operation>
<operation name="getRegisteredPersonalAccounts">
<input wsam:Action="http://st.apus.com/STWS/getRegisteredPersonalAccountsRequest" message="tns:getRegisteredPersonalAccounts"></input>
<output wsam:Action="http://st.apus.com/STWS/getRegisteredPersonalAccountsResponse" message="tns:getRegisteredPersonalAccountsResponse"></output>
</operation>
<operation name="checkCardNumber">
<input wsam:Action="http://st.apus.com/STWS/checkCardNumberRequest" message="tns:checkCardNumber"></input>
<output wsam:Action="http://st.apus.com/STWS/checkCardNumberResponse" message="tns:checkCardNumberResponse"></output>
</operation>
<operation name="checkTransaction">
<input wsam:Action="http://st.apus.com/STWS/checkTransactionRequest" message="tns:checkTransaction"></input>
<output wsam:Action="http://st.apus.com/STWS/checkTransactionResponse" message="tns:checkTransactionResponse"></output>
</operation>
<operation name="confirmRegistration">
<input wsam:Action="http://st.apus.com/STWS/confirmRegistrationRequest" message="tns:confirmRegistration"></input>
<output wsam:Action="http://st.apus.com/STWS/confirmRegistrationResponse" message="tns:confirmRegistrationResponse"></output>
</operation>
<operation name="registerNewCard">
<input wsam:Action="http://st.apus.com/STWS/registerNewCardRequest" message="tns:registerNewCard"></input>
<output wsam:Action="http://st.apus.com/STWS/registerNewCardResponse" message="tns:registerNewCardResponse"></output>
</operation>
<operation name="changeUserPassword">
<input wsam:Action="http://st.apus.com/STWS/changeUserPasswordRequest" message="tns:changeUserPassword"></input>
<output wsam:Action="http://st.apus.com/STWS/changeUserPasswordResponse" message="tns:changeUserPasswordResponse"></output>
</operation>
<operation name="reRegister">
<input wsam:Action="http://st.apus.com/STWS/reRegisterRequest" message="tns:reRegister"></input>
<output wsam:Action="http://st.apus.com/STWS/reRegisterResponse" message="tns:reRegisterResponse"></output>
</operation>
<operation name="getUserCardsList">
<input wsam:Action="http://st.apus.com/STWS/getUserCardsListRequest" message="tns:getUserCardsList"></input>
<output wsam:Action="http://st.apus.com/STWS/getUserCardsListResponse" message="tns:getUserCardsListResponse"></output>
</operation>
<operation name="setUserCards">
<input wsam:Action="http://st.apus.com/STWS/setUserCardsRequest" message="tns:setUserCards"></input>
<output wsam:Action="http://st.apus.com/STWS/setUserCardsResponse" message="tns:setUserCardsResponse"></output>
</operation>
<operation name="removeUser">
<input wsam:Action="http://st.apus.com/STWS/removeUserRequest" message="tns:removeUser"></input>
<output wsam:Action="http://st.apus.com/STWS/removeUserResponse" message="tns:removeUserResponse"></output>
</operation>
<operation name="getServiceCategoryList">
<input wsam:Action="http://st.apus.com/STWS/getServiceCategoryListRequest" message="tns:getServiceCategoryList"></input>
<output wsam:Action="http://st.apus.com/STWS/getServiceCategoryListResponse" message="tns:getServiceCategoryListResponse"></output>
</operation>
<operation name="converterNotify">
<input wsam:Action="http://st.apus.com/STWS/converterNotifyRequest" message="tns:converterNotify"></input>
<output wsam:Action="http://st.apus.com/STWS/converterNotifyResponse" message="tns:converterNotifyResponse"></output>
</operation>
<operation name="getP2PFavoriteList">
<input wsam:Action="http://st.apus.com/STWS/getP2PFavoriteListRequest" message="tns:getP2PFavoriteList"></input>
<output wsam:Action="http://st.apus.com/STWS/getP2PFavoriteListResponse" message="tns:getP2PFavoriteListResponse"></output>
</operation>
<operation name="setP2PFavorite">
<input wsam:Action="http://st.apus.com/STWS/setP2PFavoriteRequest" message="tns:setP2PFavorite"></input>
<output wsam:Action="http://st.apus.com/STWS/setP2PFavoriteResponse" message="tns:setP2PFavoriteResponse"></output>
</operation>
<operation name="testCardP2PInfo">
<input wsam:Action="http://st.apus.com/STWS/testCardP2PInfoRequest" message="tns:testCardP2PInfo"></input>
<output wsam:Action="http://st.apus.com/STWS/testCardP2PInfoResponse" message="tns:testCardP2PInfoResponse"></output>
</operation>
<operation name="testCardP2PCreate">
<input wsam:Action="http://st.apus.com/STWS/testCardP2PCreateRequest" message="tns:testCardP2PCreate"></input>
<output wsam:Action="http://st.apus.com/STWS/testCardP2PCreateResponse" message="tns:testCardP2PCreateResponse"></output>
</operation>
<operation name="testCardP2PPay">
<input wsam:Action="http://st.apus.com/STWS/testCardP2PPayRequest" message="tns:testCardP2PPay"></input>
<output wsam:Action="http://st.apus.com/STWS/testCardP2PPayResponse" message="tns:testCardP2PPayResponse"></output>
</operation>
<operation name="testCardP2PPayment">
<input wsam:Action="http://st.apus.com/STWS/testCardP2PPaymentRequest" message="tns:testCardP2PPayment"></input>
<output wsam:Action="http://st.apus.com/STWS/testCardP2PPaymentResponse" message="tns:testCardP2PPaymentResponse"></output>
</operation>
<operation name="testCardP2PPaymentConfirm">
<input wsam:Action="http://st.apus.com/STWS/testCardP2PPaymentConfirmRequest" message="tns:testCardP2PPaymentConfirm"></input>
<output wsam:Action="http://st.apus.com/STWS/testCardP2PPaymentConfirmResponse" message="tns:testCardP2PPaymentConfirmResponse"></output>
</operation>
<operation name="testCardP2PPayOneTime">
<input wsam:Action="http://st.apus.com/STWS/testCardP2PPayOneTimeRequest" message="tns:testCardP2PPayOneTime"></input>
<output wsam:Action="http://st.apus.com/STWS/testCardP2PPayOneTimeResponse" message="tns:testCardP2PPayOneTimeResponse"></output>
</operation>
<operation name="cardP2PPayment">
<input wsam:Action="http://st.apus.com/STWS/cardP2PPaymentRequest" message="tns:cardP2PPayment"></input>
<output wsam:Action="http://st.apus.com/STWS/cardP2PPaymentResponse" message="tns:cardP2PPaymentResponse"></output>
</operation>
<operation name="cardP2PPaymentConfirm">
<input wsam:Action="http://st.apus.com/STWS/cardP2PPaymentConfirmRequest" message="tns:cardP2PPaymentConfirm"></input>
<output wsam:Action="http://st.apus.com/STWS/cardP2PPaymentConfirmResponse" message="tns:cardP2PPaymentConfirmResponse"></output>
</operation>
<operation name="getTradePointServiceList">
<input wsam:Action="http://st.apus.com/STWS/getTradePointServiceListRequest" message="tns:getTradePointServiceList"></input>
<output wsam:Action="http://st.apus.com/STWS/getTradePointServiceListResponse" message="tns:getTradePointServiceListResponse"></output>
</operation>
<operation name="setTradePointCreateOrder">
<input wsam:Action="http://st.apus.com/STWS/setTradePointCreateOrderRequest" message="tns:setTradePointCreateOrder"></input>
<output wsam:Action="http://st.apus.com/STWS/setTradePointCreateOrderResponse" message="tns:setTradePointCreateOrderResponse"></output>
</operation>
<operation name="setQRCodeUIDCreate">
<input wsam:Action="http://st.apus.com/STWS/setQRCodeUIDCreateRequest" message="tns:setQRCodeUIDCreate"></input>
<output wsam:Action="http://st.apus.com/STWS/setQRCodeUIDCreateResponse" message="tns:setQRCodeUIDCreateResponse"></output>
</operation>
<operation name="getQRCodeDataInfo">
<input wsam:Action="http://st.apus.com/STWS/getQRCodeDataInfoRequest" message="tns:getQRCodeDataInfo"></input>
<output wsam:Action="http://st.apus.com/STWS/getQRCodeDataInfoResponse" message="tns:getQRCodeDataInfoResponse"></output>
</operation>
<operation name="testBankCheckAccount">
<input wsam:Action="http://st.apus.com/STWS/testBankCheckAccountRequest" message="tns:testBankCheckAccount"></input>
<output wsam:Action="http://st.apus.com/STWS/testBankCheckAccountResponse" message="tns:testBankCheckAccountResponse"></output>
</operation>
<operation name="testBankPayment">
<input wsam:Action="http://st.apus.com/STWS/testBankPaymentRequest" message="tns:testBankPayment"></input>
<output wsam:Action="http://st.apus.com/STWS/testBankPaymentResponse" message="tns:testBankPaymentResponse"></output>
</operation>
<operation name="testPaymentOneTime">
<input wsam:Action="http://st.apus.com/STWS/testPaymentOneTimeRequest" message="tns:testPaymentOneTime"></input>
<output wsam:Action="http://st.apus.com/STWS/testPaymentOneTimeResponse" message="tns:testPaymentOneTimeResponse"></output>
</operation>
<operation name="actionUserCardBonus">
<input wsam:Action="http://st.apus.com/STWS/actionUserCardBonusRequest" message="tns:actionUserCardBonus"></input>
<output wsam:Action="http://st.apus.com/STWS/actionUserCardBonusResponse" message="tns:actionUserCardBonusResponse"></output>
</operation>
<operation name="userCardBonusHistory">
<input wsam:Action="http://st.apus.com/STWS/userCardBonusHistoryRequest" message="tns:userCardBonusHistory"></input>
<output wsam:Action="http://st.apus.com/STWS/userCardBonusHistoryResponse" message="tns:userCardBonusHistoryResponse"></output>
</operation>
<operation name="registerCars">
<input wsam:Action="http://st.apus.com/STWS/registerCarsRequest" message="tns:registerCars"></input>
<output wsam:Action="http://st.apus.com/STWS/registerCarsResponse" message="tns:registerCarsResponse"></output>
</operation>
<operation name="bankCheckBalance">
<input wsam:Action="http://st.apus.com/STWS/bankCheckBalanceRequest" message="tns:bankCheckBalance"></input>
<output wsam:Action="http://st.apus.com/STWS/bankCheckBalanceResponse" message="tns:bankCheckBalanceResponse"></output>
</operation>
<operation name="getTradePointServiceByUssdCode">
<input wsam:Action="http://st.apus.com/STWS/getTradePointServiceByUssdCodeRequest" message="tns:getTradePointServiceByUssdCode"></input>
<output wsam:Action="http://st.apus.com/STWS/getTradePointServiceByUssdCodeResponse" message="tns:getTradePointServiceByUssdCodeResponse"></output>
</operation>
<operation name="getCountryList">
<input wsam:Action="http://st.apus.com/STWS/getCountryListRequest" message="tns:getCountryList"></input>
<output wsam:Action="http://st.apus.com/STWS/getCountryListResponse" message="tns:getCountryListResponse"></output>
</operation>
<operation name="getCrypto">
<input wsam:Action="http://st.apus.com/STWS/getCryptoRequest" message="tns:getCrypto"></input>
<output wsam:Action="http://st.apus.com/STWS/getCryptoResponse" message="tns:getCryptoResponse"></output>
</operation>
<operation name="cancelPayment">
<input wsam:Action="http://st.apus.com/STWS/cancelPaymentRequest" message="tns:cancelPayment"></input>
<output wsam:Action="http://st.apus.com/STWS/cancelPaymentResponse" message="tns:cancelPaymentResponse"></output>
</operation>
<operation name="setCashback">
<input wsam:Action="http://st.apus.com/STWS/setCashbackRequest" message="tns:setCashback"></input>
<output wsam:Action="http://st.apus.com/STWS/setCashbackResponse" message="tns:setCashbackResponse"></output>
</operation>
<operation name="cardP2PPayOneTime">
<input wsam:Action="http://st.apus.com/STWS/cardP2PPayOneTimeRequest" message="tns:cardP2PPayOneTime"></input>
<output wsam:Action="http://st.apus.com/STWS/cardP2PPayOneTimeResponse" message="tns:cardP2PPayOneTimeResponse"></output>
</operation>
<operation name="setApplicationToken">
<input wsam:Action="http://st.apus.com/STWS/setApplicationTokenRequest" message="tns:setApplicationToken"></input>
<output wsam:Action="http://st.apus.com/STWS/setApplicationTokenResponse" message="tns:setApplicationTokenResponse"></output>
</operation>
<operation name="partnerRegisterCard">
<input wsam:Action="http://st.apus.com/STWS/partnerRegisterCardRequest" message="tns:partnerRegisterCard"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerRegisterCardResponse" message="tns:partnerRegisterCardResponse"></output>
</operation>
<operation name="partnerConfirmCard">
<input wsam:Action="http://st.apus.com/STWS/partnerConfirmCardRequest" message="tns:partnerConfirmCard"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerConfirmCardResponse" message="tns:partnerConfirmCardResponse"></output>
</operation>
<operation name="partnerCardResendSms">
<input wsam:Action="http://st.apus.com/STWS/partnerCardResendSmsRequest" message="tns:partnerCardResendSms"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerCardResendSmsResponse" message="tns:partnerCardResendSmsResponse"></output>
</operation>
<operation name="partnerPayment">
<input wsam:Action="http://st.apus.com/STWS/partnerPaymentRequest" message="tns:partnerPayment"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerPaymentResponse" message="tns:partnerPaymentResponse"></output>
</operation>
<operation name="partnerConfirmPayment">
<input wsam:Action="http://st.apus.com/STWS/partnerConfirmPaymentRequest" message="tns:partnerConfirmPayment"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerConfirmPaymentResponse" message="tns:partnerConfirmPaymentResponse"></output>
</operation>
<operation name="partnerCheckTransaction">
<input wsam:Action="http://st.apus.com/STWS/partnerCheckTransactionRequest" message="tns:partnerCheckTransaction"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerCheckTransactionResponse" message="tns:partnerCheckTransactionResponse"></output>
</operation>
<operation name="partnerCancelTransaction">
<input wsam:Action="http://st.apus.com/STWS/partnerCancelTransactionRequest" message="tns:partnerCancelTransaction"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerCancelTransactionResponse" message="tns:partnerCancelTransactionResponse"></output>
</operation>
<operation name="partnerCardList">
<input wsam:Action="http://st.apus.com/STWS/partnerCardListRequest" message="tns:partnerCardList"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerCardListResponse" message="tns:partnerCardListResponse"></output>
</operation>
<operation name="partnerPreCardInfo">
<input wsam:Action="http://st.apus.com/STWS/partnerPreCardInfoRequest" message="tns:partnerPreCardInfo"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerPreCardInfoResponse" message="tns:partnerPreCardInfoResponse"></output>
</operation>
<operation name="partnerConfirmCardInfo">
<input wsam:Action="http://st.apus.com/STWS/partnerConfirmCardInfoRequest" message="tns:partnerConfirmCardInfo"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerConfirmCardInfoResponse" message="tns:partnerConfirmCardInfoResponse"></output>
</operation>
<operation name="partnerHoldCreate">
<input wsam:Action="http://st.apus.com/STWS/partnerHoldCreateRequest" message="tns:partnerHoldCreate"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerHoldCreateResponse" message="tns:partnerHoldCreateResponse"></output>
</operation>
<operation name="partnerHoldCreateConfirm">
<input wsam:Action="http://st.apus.com/STWS/partnerHoldCreateConfirmRequest" message="tns:partnerHoldCreateConfirm"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerHoldCreateConfirmResponse" message="tns:partnerHoldCreateConfirmResponse"></output>
</operation>
<operation name="partnerHoldPayment">
<input wsam:Action="http://st.apus.com/STWS/partnerHoldPaymentRequest" message="tns:partnerHoldPayment"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerHoldPaymentResponse" message="tns:partnerHoldPaymentResponse"></output>
</operation>
<operation name="partnerHoldCancel">
<input wsam:Action="http://st.apus.com/STWS/partnerHoldCancelRequest" message="tns:partnerHoldCancel"></input>
<output wsam:Action="http://st.apus.com/STWS/partnerHoldCancelResponse" message="tns:partnerHoldCancelResponse"></output>
</operation>
<operation name="userUcoins">
<input wsam:Action="http://st.apus.com/STWS/userUcoinsRequest" message="tns:userUcoins"></input>
<output wsam:Action="http://st.apus.com/STWS/userUcoinsResponse" message="tns:userUcoinsResponse"></output>
</operation>
<operation name="ucoinsInformations">
<input wsam:Action="http://st.apus.com/STWS/ucoinsInformationsRequest" message="tns:ucoinsInformations"></input>
<output wsam:Action="http://st.apus.com/STWS/ucoinsInformationsResponse" message="tns:ucoinsInformationsResponse"></output>
</operation>
<operation name="userUcoinsHistory">
<input wsam:Action="http://st.apus.com/STWS/userUcoinsHistoryRequest" message="tns:userUcoinsHistory"></input>
<output wsam:Action="http://st.apus.com/STWS/userUcoinsHistoryResponse" message="tns:userUcoinsHistoryResponse"></output>
</operation>
<operation name="userUcoinsAchievementAction">
<input wsam:Action="http://st.apus.com/STWS/userUcoinsAchievementActionRequest" message="tns:userUcoinsAchievementAction"></input>
<output wsam:Action="http://st.apus.com/STWS/userUcoinsAchievementActionResponse" message="tns:userUcoinsAchievementActionResponse"></output>
</operation>
<operation name="userUcoinsLevels">
<input wsam:Action="http://st.apus.com/STWS/userUcoinsLevelsRequest" message="tns:userUcoinsLevels"></input>
<output wsam:Action="http://st.apus.com/STWS/userUcoinsLevelsResponse" message="tns:userUcoinsLevelsResponse"></output>
</operation>
<operation name="upayHelps">
<input wsam:Action="http://st.apus.com/STWS/upayHelpsRequest" message="tns:upayHelps"></input>
<output wsam:Action="http://st.apus.com/STWS/upayHelpsResponse" message="tns:upayHelpsResponse"></output>
</operation>
<operation name="getServiceByAccount">
<input wsam:Action="http://st.apus.com/STWS/getServiceByAccountRequest" message="tns:getServiceByAccount"></input>
<output wsam:Action="http://st.apus.com/STWS/getServiceByAccountResponse" message="tns:getServiceByAccountResponse"></output>
</operation>
<operation name="registerUserPrepare">
<input wsam:Action="http://st.apus.com/STWS/registerUserPrepareRequest" message="tns:registerUserPrepare"></input>
<output wsam:Action="http://st.apus.com/STWS/registerUserPrepareResponse" message="tns:registerUserPrepareResponse"></output>
</operation>
<operation name="registerUserConfirm">
<input wsam:Action="http://st.apus.com/STWS/registerUserConfirmRequest" message="tns:registerUserConfirm"></input>
<output wsam:Action="http://st.apus.com/STWS/registerUserConfirmResponse" message="tns:registerUserConfirmResponse"></output>
</operation>
<operation name="getUserInformation">
<input wsam:Action="http://st.apus.com/STWS/getUserInformationRequest" message="tns:getUserInformation"></input>
<output wsam:Action="http://st.apus.com/STWS/getUserInformationResponse" message="tns:getUserInformationResponse"></output>
</operation>
<operation name="setUserInformation">
<input wsam:Action="http://st.apus.com/STWS/setUserInformationRequest" message="tns:setUserInformation"></input>
<output wsam:Action="http://st.apus.com/STWS/setUserInformationResponse" message="tns:setUserInformationResponse"></output>
</operation>
<operation name="getUserSession">
<input wsam:Action="http://st.apus.com/STWS/getUserSessionRequest" message="tns:getUserSession"></input>
<output wsam:Action="http://st.apus.com/STWS/getUserSessionResponse" message="tns:getUserSessionResponse"></output>
</operation>
<operation name="setUserSession">
<input wsam:Action="http://st.apus.com/STWS/setUserSessionRequest" message="tns:setUserSession"></input>
<output wsam:Action="http://st.apus.com/STWS/setUserSessionResponse" message="tns:setUserSessionResponse"></output>
</operation>
<operation name="getThemeCovers">
<input wsam:Action="http://st.apus.com/STWS/getThemeCoversRequest" message="tns:getThemeCovers"></input>
<output wsam:Action="http://st.apus.com/STWS/getThemeCoversResponse" message="tns:getThemeCoversResponse"></output>
</operation>
<operation name="getServiceSearchTags">
<input wsam:Action="http://st.apus.com/STWS/getServiceSearchTagsRequest" message="tns:getServiceSearchTags"></input>
<output wsam:Action="http://st.apus.com/STWS/getServiceSearchTagsResponse" message="tns:getServiceSearchTagsResponse"></output>
</operation>
<operation name="getKvitansiaParams">
<input wsam:Action="http://st.apus.com/STWS/getKvitansiaParamsRequest" message="tns:getKvitansiaParams"></input>
<output wsam:Action="http://st.apus.com/STWS/getKvitansiaParamsResponse" message="tns:getKvitansiaParamsResponse"></output>
</operation>
<operation name="testCheckCardNumber">
<input wsam:Action="http://st.apus.com/STWS/testCheckCardNumberRequest" message="tns:testCheckCardNumber"></input>
<output wsam:Action="http://st.apus.com/STWS/testCheckCardNumberResponse" message="tns:testCheckCardNumberResponse"></output>
</operation>
<operation name="testConfirmRegistration">
<input wsam:Action="http://st.apus.com/STWS/testConfirmRegistrationRequest" message="tns:testConfirmRegistration"></input>
<output wsam:Action="http://st.apus.com/STWS/testConfirmRegistrationResponse" message="tns:testConfirmRegistrationResponse"></output>
</operation>
<operation name="testRegisterNewCard">
<input wsam:Action="http://st.apus.com/STWS/testRegisterNewCardRequest" message="tns:testRegisterNewCard"></input>
<output wsam:Action="http://st.apus.com/STWS/testRegisterNewCardResponse" message="tns:testRegisterNewCardResponse"></output>
</operation>
<operation name="testReRegister">
<input wsam:Action="http://st.apus.com/STWS/testReRegisterRequest" message="tns:testReRegister"></input>
<output wsam:Action="http://st.apus.com/STWS/testReRegisterResponse" message="tns:testReRegisterResponse"></output>
</operation>
<operation name="testPrepayment">
<input wsam:Action="http://st.apus.com/STWS/testPrepaymentRequest" message="tns:testPrepayment"></input>
<output wsam:Action="http://st.apus.com/STWS/testPrepaymentResponse" message="tns:testPrepaymentResponse"></output>
</operation>
<operation name="paymentService">
<input wsam:Action="http://st.apus.com/STWS/paymentServiceRequest" message="tns:paymentService"></input>
<output wsam:Action="http://st.apus.com/STWS/paymentServiceResponse" message="tns:paymentServiceResponse"></output>
</operation>
<operation name="paymentServiceConfirm">
<input wsam:Action="http://st.apus.com/STWS/paymentServiceConfirmRequest" message="tns:paymentServiceConfirm"></input>
<output wsam:Action="http://st.apus.com/STWS/paymentServiceConfirmResponse" message="tns:paymentServiceConfirmResponse"></output>
</operation>
<operation name="cardRegistration">
<input wsam:Action="http://st.apus.com/STWS/cardRegistrationRequest" message="tns:cardRegistration"></input>
<output wsam:Action="http://st.apus.com/STWS/cardRegistrationResponse" message="tns:cardRegistrationResponse"></output>
</operation>
<operation name="cardRegistrationConfirm">
<input wsam:Action="http://st.apus.com/STWS/cardRegistrationConfirmRequest" message="tns:cardRegistrationConfirm"></input>
<output wsam:Action="http://st.apus.com/STWS/cardRegistrationConfirmResponse" message="tns:cardRegistrationConfirmResponse"></output>
</operation>
<operation name="cardRegistrationActivate">
<input wsam:Action="http://st.apus.com/STWS/cardRegistrationActivateRequest" message="tns:cardRegistrationActivate"></input>
<output wsam:Action="http://st.apus.com/STWS/cardRegistrationActivateResponse" message="tns:cardRegistrationActivateResponse"></output>
</operation>
<operation name="forgotPassword">
<input wsam:Action="http://st.apus.com/STWS/forgotPasswordRequest" message="tns:forgotPassword"></input>
<output wsam:Action="http://st.apus.com/STWS/forgotPasswordResponse" message="tns:forgotPasswordResponse"></output>
</operation>
<operation name="forgotPasswordConfirm">
<input wsam:Action="http://st.apus.com/STWS/forgotPasswordConfirmRequest" message="tns:forgotPasswordConfirm"></input>
<output wsam:Action="http://st.apus.com/STWS/forgotPasswordConfirmResponse" message="tns:forgotPasswordConfirmResponse"></output>
</operation>
<operation name="forgotPasswordSetPass">
<input wsam:Action="http://st.apus.com/STWS/forgotPasswordSetPassRequest" message="tns:forgotPasswordSetPass"></input>
<output wsam:Action="http://st.apus.com/STWS/forgotPasswordSetPassResponse" message="tns:forgotPasswordSetPassResponse"></output>
</operation>
<operation name="getUserCardInfo">
<input wsam:Action="http://st.apus.com/STWS/getUserCardInfoRequest" message="tns:getUserCardInfo"></input>
<output wsam:Action="http://st.apus.com/STWS/getUserCardInfoResponse" message="tns:getUserCardInfoResponse"></output>
</operation>
<operation name="findTaxAccount">
<input wsam:Action="http://st.apus.com/STWS/findTaxAccountRequest" message="tns:findTaxAccount"></input>
<output wsam:Action="http://st.apus.com/STWS/findTaxAccountResponse" message="tns:findTaxAccountResponse"></output>
</operation>
<operation name="confirmAuthentication">
<input wsam:Action="http://st.apus.com/STWS/confirmAuthenticationRequest" message="tns:confirmAuthentication"></input>
<output wsam:Action="http://st.apus.com/STWS/confirmAuthenticationResponse" message="tns:confirmAuthenticationResponse"></output>
</operation>
<operation name="findPersonalAccount">
<input wsam:Action="http://st.apus.com/STWS/findPersonalAccountRequest" message="tns:findPersonalAccount"></input>
<output wsam:Action="http://st.apus.com/STWS/findPersonalAccountResponse" message="tns:findPersonalAccountResponse"></output>
</operation>
<operation name="preparePayment">
<input wsam:Action="http://st.apus.com/STWS/preparePaymentRequest" message="tns:preparePayment"></input>
<output wsam:Action="http://st.apus.com/STWS/preparePaymentResponse" message="tns:preparePaymentResponse"></output>
</operation>
<operation name="prepayment">
<input wsam:Action="http://st.apus.com/STWS/prepaymentRequest" message="tns:prepayment"></input>
<output wsam:Action="http://st.apus.com/STWS/prepaymentResponse" message="tns:prepaymentResponse"></output>
</operation>
<operation name="payment">
<input wsam:Action="http://st.apus.com/STWS/paymentRequest" message="tns:payment"></input>
<output wsam:Action="http://st.apus.com/STWS/paymentResponse" message="tns:paymentResponse"></output>
</operation>
<operation name="confirmPayment">
<input wsam:Action="http://st.apus.com/STWS/confirmPaymentRequest" message="tns:confirmPayment"></input>
<output wsam:Action="http://st.apus.com/STWS/confirmPaymentResponse" message="tns:confirmPaymentResponse"></output>
</operation>
<operation name="registerServiceAccount">
<input wsam:Action="http://st.apus.com/STWS/registerServiceAccountRequest" message="tns:registerServiceAccount"></input>
<output wsam:Action="http://st.apus.com/STWS/registerServiceAccountResponse" message="tns:registerServiceAccountResponse"></output>
</operation>
</portType>
<binding name="STWSPortBinding" type="tns:STWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="isRegistered">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="authentication">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRegions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="prepareAuthentication">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserTransactionsList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setUserFavoriteAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="balance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTitlesTagAndNameForServices">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="test">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getServiceList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRegionsList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTerritoriesList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkTransactionOneTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getKvitansia">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserFavoriteList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardP2PInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardP2PCreate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardP2PPay">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getExchangeRates">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="infoP2PBanks">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findServiceAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="bankCheckAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="bankPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="bankCheckTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="bankPaymentHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="paymentOneTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="paymentOneTimeVisa">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkTransactionOneTimeVisa">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getRegisteredPersonalAccounts">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkCardNumber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="checkTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="confirmRegistration">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerNewCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="changeUserPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="reRegister">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserCardsList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setUserCards">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="removeUser">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getServiceCategoryList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="converterNotify">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getP2PFavoriteList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setP2PFavorite">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testCardP2PInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testCardP2PCreate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testCardP2PPay">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testCardP2PPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testCardP2PPaymentConfirm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testCardP2PPayOneTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardP2PPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardP2PPaymentConfirm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTradePointServiceList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setTradePointCreateOrder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setQRCodeUIDCreate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getQRCodeDataInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testBankCheckAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testBankPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testPaymentOneTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="actionUserCardBonus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="userCardBonusHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerCars">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="bankCheckBalance">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getTradePointServiceByUssdCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCountryList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getCrypto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cancelPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setCashback">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardP2PPayOneTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setApplicationToken">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerRegisterCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerConfirmCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerCardResendSms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerConfirmPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerCheckTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerCancelTransaction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerCardList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerPreCardInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerConfirmCardInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerHoldCreate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerHoldCreateConfirm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerHoldPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="partnerHoldCancel">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="userUcoins">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="ucoinsInformations">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="userUcoinsHistory">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="userUcoinsAchievementAction">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="userUcoinsLevels">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="upayHelps">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getServiceByAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerUserPrepare">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerUserConfirm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserInformation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setUserInformation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="setUserSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getThemeCovers">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getServiceSearchTags">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getKvitansiaParams">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testCheckCardNumber">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testConfirmRegistration">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testRegisterNewCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testReRegister">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="testPrepayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="paymentService">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="paymentServiceConfirm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardRegistration">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardRegistrationConfirm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="cardRegistrationActivate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="forgotPassword">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="forgotPasswordConfirm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="forgotPasswordSetPass">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUserCardInfo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findTaxAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="confirmAuthentication">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findPersonalAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="preparePayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="prepayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="payment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="confirmPayment">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="registerServiceAccount">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="STWS">
<port name="STWSPort" binding="tns:STWSPortBinding">
<soap:address location="http://api.upay.uz/STAPI/STWS"></soap:address>
</port>
</service>
</definitions>